/*  your css code here. If applicable */
:root{
	background-color: rgb(135, 206, 235);
}
.para :first-child{
	background-color: black;
	color: white;
}

.para :last-child{
	color: red;
}


.para :nth-child(2){
	color: black;
}
ul :nth-child(n){
	width: 50%;
	padding: 10px;
}
ul :nth-child(odd){
	background-color: white;
}

ul :nth-child(even){
	background-color: gray;
}

ul :nth-child(3){
	background-color: pink;
}

ul :first-child, ul :last-child{
	font-size: 22px;
}